build
dist
doc.dev
*.data
*.index
*.cfg
*.pdf
alldb.egg-info
profile.tmp
profile_result_*.txt
*-stamp
*.pot
*~
*.exe
*.pyc
*.pyo
*.~*
.svn
*.7z
*.log
*.swp
*.orig
debian/alldb
debian/*.debhelper
debian/*.substvars
debian/files

